[build]
  base = "./"
  publish = ".vuepress/dist"
  command = "yarn build"

# Sets our asset optimization
[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.html]
  pretty_urls = false
[build.processing.images]
  compress = true

# Caches our images for 1 year
[[headers]]
  for = "/images/*"
  [headers.values]
	  Cache-Control = "public, max-age=31536000"

# REDIRECTS
# NOTE THAT REDIRECTS ARE EXECUTED FIRST COME FIRST SERVE
# Domain redirects
[[redirects]]
  from = "https://docs.lndo.io/*"
  to = "https://docs.lando.dev/:splat"
  status = 301
[[redirects]]
  from = "https://docs.devwithlando.io/*"
  to = "https://docs.lando.dev/:splat"
  status = 301

# Redirect legacy 3.x content
[[redirects]]
  from = "https://docs.lando.dev/basics/usage.html"
  to = "https://docs.lando.dev/cli"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/config.html"
  to = "https://docs.lando.dev/cli/config.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/destroy.html"
  to = "https://docs.lando.dev/cli/destroy.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/init.html"
  to = "https://docs.lando.dev/cli/init.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/info.html"
  to = "https://docs.lando.dev/cli/info.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/list.html"
  to = "https://docs.lando.dev/cli/list.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/logs.html"
  to = "https://docs.lando.dev/cli/logs.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/poweroff.html"
  to = "https://docs.lando.dev/cli/poweroff.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/rebuild.html"
  to = "https://docs.lando.dev/cli/rebuild.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/restart.html"
  to = "https://docs.lando.dev/cli/restart.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/share.html"
  to = "https://docs.lando.dev/cli/share.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/start.html"
  to = "https://docs.lando.dev/cli/start.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/stop.html"
  to = "https://docs.lando.dev/cli/stop.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/version.html"
  to = "https://docs.lando.dev/cli/version.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/ssh.html"
  to = "https://docs.lando.dev/cli/ssh.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/basics.html"
  to = "https://docs.lando.dev/getting-started/what-it-do.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/basics/*"
  to = "https://docs.lando.dev/getting-started/:splat"
  status = 301

[[redirects]]
  from = "https://docs.lando.dev/contrib/contributing.html"
  to = "https://docs.lando.dev/contrib"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/contrib/talking-points.html"
  to = "https://docs.lando.dev/contrib/evangelist.html#talking-points"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/contrib/triage-getting-started.html"
  to = "https://docs.lando.dev/contrib/coder.html#triaging-issues"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/contrib/contrib-*"
  to = "https://docs.lando.dev/contrib/coder.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/contrib/evangelist-*"
  to = "https://docs.lando.dev/contrib/evangelist.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/contrib/sponsor-*"
  to = "https://docs.lando.dev/contrib/sponsoring.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/contrib/*"
  to = "https://docs.lando.dev/contrib"
  status = 301


[[redirects]]
  from = "https://docs.lando.dev/guides/drupal-7-landoize-an-extant-app.html"
  to = "https://docs.lando.dev/drupal/landoify-d7.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/guides/drupal-multisite-on-lando.html"
  to = "https://docs.lando.dev/drupal/drupal-multisite.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/guides/frontend.html"
  to = "https://docs.lando.dev/node/frontend-tooling.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/guides/how-to-wire-up-browsersync-and-gulp-in-my-lando-app.html"
  to = "https://docs.lando.dev/node/using-browsersync.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/guides/using-compass-on-a-lando-node-service.html"
  to = "https://docs.lando.dev/node/using-compass.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/guides/how-can-i-pull-sync-my-database-on-lamp-y-recipes.html"
  to = "https://docs.lando.dev/laravel/import-remote-db-laravel-envoy.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/guides/installing-node-in-your-lando-php-service.html"
  to = "https://docs.lando.dev/php/installing-node.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/guides/installing-php-extensions-on-lando.html"
  to = "https://docs.lando.dev/php/installing-extensions.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/guides/accessing-php-logs.html"
  to = "https://docs.lando.dev/php/accessing-logs.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/guides/updating-local-pantheon-environments.html"
  to = "https://docs.lando.dev/pantheon/updating-local-pantheon-environments.html"
  status = 301

[[redirects]]
  from = "https://docs.lando.dev/guides/phpmyadmin-themes.html"
  to = "https://docs.lando.dev/phpmyadmin/phpmyadmin-themes.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/guides/lando-101/*"
  to = "https://docs.lando.dev/lando-101/:splat"
  status = 301




# Redirect legacy recipes/services
[[redirects]]
  from = "https://docs.lando.dev/config/acquia.html"
  to = "https://docs.lando.dev/acquia"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/apache.html"
  to = "https://docs.lando.dev/apache"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/backdrop.html"
  to = "https://docs.lando.dev/backdrop"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/dotnet.html"
  to = "https://docs.lando.dev/dotnet"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/drupal6.html"
  to = "https://docs.lando.dev/drupal"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/drupal7.html"
  to = "https://docs.lando.dev/drupal"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/drupal8.html"
  to = "https://docs.lando.dev/drupal"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/drupal9.html"
  to = "https://docs.lando.dev/drupal"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/drupal10.html"
  to = "https://docs.lando.dev/drupal"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/elasticsearch.html"
  to = "https://docs.lando.dev/elasticsearch"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/go.html"
  to = "https://docs.lando.dev/go"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/joomla.html"
  to = "https://docs.lando.dev/joomla"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/lagoon.html"
  to = "https://docs.lando.dev/lagoon"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/lamp.html"
  to = "https://docs.lando.dev/lamp"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/laravel.html"
  to = "https://docs.lando.dev/laravel"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/lemp.html"
  to = "https://docs.lando.dev/lemp"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/mailhog.html"
  to = "https://docs.lando.dev/mailhog"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/mariadb.html"
  to = "https://docs.lando.dev/mariadb"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/mean.html"
  to = "https://docs.lando.dev/mean"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/memcached.html"
  to = "https://docs.lando.dev/memcached"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/mongo.html"
  to = "https://docs.lando.dev/mongo"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/mssql.html"
  to = "https://docs.lando.dev/mssql"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/mysql.html"
  to = "https://docs.lando.dev/mysql"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/nginx.html"
  to = "https://docs.lando.dev/nginx"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/node.html"
  to = "https://docs.lando.dev/node"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/pantheon.html"
  to = "https://docs.lando.dev/pantheon"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/php.html"
  to = "https://docs.lando.dev/php"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/phpmyadmin.html"
  to = "https://docs.lando.dev/phpmyadmin"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/platformsh.html"
  to = "https://docs.lando.dev/platformsh"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/postgres.html"
  to = "https://docs.lando.dev/postgres"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/python.html"
  to = "https://docs.lando.dev/python"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/redis.html"
  to = "https://docs.lando.dev/redis"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/ruby.html"
  to = "https://docs.lando.dev/ruby"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/solr.html"
  to = "https://docs.lando.dev/solr"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/symfony.html"
  to = "https://docs.lando.dev/symfony"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/tomcat.html"
  to = "https://docs.lando.dev/tomcat"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/varnish.html"
  to = "https://docs.lando.dev/varnish"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/wordpress.html"
  to = "https://docs.lando.dev/wordpress"
  status = 301

# Legacy redirects from cloudflare
[[redirects]]
  from = "https://docs.lando.dev/contrib/how.html"
  to = "https://docs.lando.dev/contrib/contributing.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/issues/*"
  to = "https://docs.lando.dev/help/:splat"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/tutorials/*"
  to = "https://docs.lando.dev/config/:splat"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/dev/*"
  to = "https://docs.lando.dev/contrib/:splat"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/started.html"
  to = "https://docs.lando.dev/basics/"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/installation/*"
  to = "https://docs.lando.dev/basics/installation.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/troubleshooting/*"
  to = "https://docs.devwithlando.io/help/:splat"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/config/config.html"
  to = "https://docs.lando.dev/config/global.html"
  status = 301
[[redirects]]
  from = "https://docs.lando.dev/lando.html"
  to = "https://docs.lando.dev/config/"
  status = 301

# REWRITES
# Stitch together the various plugin subsites
[[redirects]]
  from = "/acquia/*"
  to = "https://lando-acquia.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/apache/*"
  to = "https://lando-apache.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/backdrop/*"
  to = "https://lando-backdrop.netlify.app/:splat"
  status = 200
[[redirects]]
 from = "/cli/*"
 to = "https://lando-cli.netlify.app/:splat"
 status = 200
[[redirects]]
  from = "/config/*"
  to = "https://lando-config.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/dotnet/*"
  to = "https://lando-dotnet.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/drupal/*"
  to = "https://lando-drupal.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/elasticsearch/*"
  to = "https://lando-elasticsearch.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/go/*"
  to = "https://lando-go.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/joomla/*"
  to = "https://lando-joomla.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/lagoon/*"
  to = "https://lando-lagoon.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/lamp/*"
  to = "https://lando-lamp.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/laravel/*"
  to = "https://lando-laravel.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/lemp/*"
  to = "https://lando-lemp.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/mailhog/*"
  to = "https://lando-mailhog.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/mariadb/*"
  to = "https://lando-mariadb.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/mean/*"
  to = "https://lando-mean.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/memcached/*"
  to = "https://lando-memcached.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/mongo/*"
  to = "https://lando-mongo.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/mssql/*"
  to = "https://lando-mssql.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/mysql/*"
  to = "https://lando-mysql.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/nginx/*"
  to = "https://lando-nginx.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/node/*"
  to = "https://lando-node.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/pantheon/*"
  to = "https://lando-pantheon.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/php/*"
  to = "https://lando-php.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/phpmyadmin/*"
  to = "https://lando-phpmyadmin.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/platformsh/*"
  to = "https://lando-platformsh.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/postgres/*"
  to = "https://lando-postgres.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/python/*"
  to = "https://lando-python.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/redis/*"
  to = "https://lando-redis.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/ruby/*"
  to = "https://lando-ruby.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/solr/*"
  to = "https://lando-solr.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/symfony/*"
  to = "https://lando-symfony.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/tomcat/*"
  to = "https://lando-tomcat.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/varnish/*"
  to = "https://lando-varnish.netlify.app/:splat"
  status = 200
[[redirects]]
  from = "/wordpress/*"
  to = "https://lando-wordpress.netlify.app/:splat"
  status = 200
